
<div>
  <img>
</div>
<h1>BurgerMyBuns</h1>


  {{#each allBurgers}}
  
    <p>
      {{this.id}}

      <button type="submit">Eat Me!</button>
    </p>
  
  {{/each}}


<h2>NAME HERE</h2>
<form id="createplan" class="button-size">
  <textarea type="text" name=""></textarea>
  <button type="submit">Add Burger!</button>
</form>

